body{
	margin: 0px;
}
h1{
	width: 100%;
	text-align: center;
	padding: 15px;
	margin-bottom: 10px;
}

.container{
	position: relative;
	width: 100%;
	margin-left: 10px;
	box-sizing: border-box;
}
div>div{
	position: relative;
	width: 31%;
	float: left;
	border: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 10px;
	margin-right: 10px;
	box-sizing: border-box;
	background-color: grey;

}
h2{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 150px;
	border: 1px solid black;
	margin-top: 0;
	text-align: center;
	margin-bottom: 5px;
	background-color: red;
	color: white;
}
p{
	width: 100%;
	margin-top: 40px;
	margin-right: 5px;
}
@media (max-width: 991px) and (min-width: 768px) {
	.col-md-6{
		width: 47%;
	}
	.col-md-12{
		width: 96%;
		margin-top: 10px;
	}
}
@media (max-width: 767px)  {
	.col-sm-12{
		width: 96%;
		margin-top: 10px;
		float: none;
		margin-right: 10px;
	}
}